.VesselList {
    position: relative;
    width: 100%;
    top: 160px;
    left: 0px;
    overflow-y: auto;
    height: calc(100% - 160px);
    z-index: 1;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: rgba(0, 0, 0, .15);
    box-shadow: -1px -1px 0 rgba(0, 0, 0, .05), inset 0 1px 0 rgba(0, 0, 0, .05);
}
